---
title: AirCnC | Meet the team
---
<div class="center-on-page">
  <div class="team-content">
    <h1 class="text-center">Today's team:</h1>
    <ul class="list-inline text-center">
      <li>
        <%= image_tag "https://avatars2.githubusercontent.com/u/43278081?v=4", class: "avatar" %>
        <p>Alice Picot</p>
      </li>
      <li>
        <%= image_tag "https://avatars1.githubusercontent.com/u/43235608?v=4", class: "avatar" %>
        <p>Joseph Johansen</p>
      </li>
    </ul>
  </div>
</div>
